<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Qualidade e Segurança API - List Services</title>
</head>
<body>
    <H1>Available services</H1>
    <ul>
        <li>
            <h2>
                <a href="#{host}#{root}/services/SayHello?wsdl">SayHello</a>
            </h2>
            <p>Service EPR : #{host}#{root}/services/SayHello</p>
            <p>Service Description : SayHello Test Page</p>
            <p>Service Status : Active</p>
        </li>
        <li>
            <h2>
                <a href="#{host}#{root}/services/NormaList?wsdl">NormaList</a>
            </h2>
            <p>Service EPR : #{host}#{root}/services/NormaList</p>
            <p>Service Description : List all standards</p>
            <p>Service Status : Active</p>
        </li>
        <li>
            <h2>
                <a href="#{host}#{root}/services/NormaGet?wsdl">NormaGet</a>
            </h2>
            <p>Service EPR : #{host}#{root}/services/NormaGet</p>
            <p>Service Description : Get standard</p>
            <p>Service Status : Active</p>
        </li>

    </ul>
</body>
</html>