<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Standard Facade API - List Services</title>
</head>
<body>
    <H1>Available services</H1>
    <ul>
        <li>
            <h2>
                <a href="#{host}#{root}/services/SayHello?wsdl">SayHello</a>
            </h2>
            <p>Service EPR : #{host}#{root}/services/SayHello</p>
            <p>Service Description : SayHello Test Page</p>
            <p>Service Status : Active</p>
        </li>
        <li>
            <h2>
                <a href="#{host}#{root}/services/StandardList?wsdl">StandardList</a>
            </h2>
            <p>Service EPR : #{host}#{root}/services/StandardList</p>
            <p>Service Description : List all standards</p>
            <p>Service Status : Active</p>
        </li>
        <li>
            <h2>
                <a href="#{host}#{root}/services/StandardGet?wsdl">StandardGet</a>
            </h2>
            <p>Service EPR : #{host}#{root}/services/StandardGet</p>
            <p>Service Description : Get standard</p>
            <p>Service Status : Not Implemented</p>
        </li>
        <li>
            <h2>
                <a href="#{host}#{root}/services/StandardUpdateList?wsdl">StandardUpdateList</a>
            </h2>
            <p>Service EPR : #{host}#{root}/services/StandardUpdateList</p>
            <p>Service Description : List the standard updates</p>
            <p>Service Status : Not Implemented</p>
        </li>
    </ul>
</body>
</html>