<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Standard Facade API - List Services</title>
</head>
<body>
    <H1>Available services</H1>
    <ul>
        <li>
            <h2>
                <a href="#{host}#{root}/SayHello?wsdl">SayHello</a>
            </h2>
            <p>Service EPR : #{host}#{root}/SayHello</p>
            <p>Service Description : SayHello Test Page</p>
            <p>Service Status : Active</p>
        </li>
        <li>
            <h2>
                <a href="#{host}#{root}/StandardList?wsdl">StandardList</a>
            </h2>
            <p>Service EPR : #{host}#{root}/StandardList</p>
            <p>Service Description : List all standards</p>
            <p>Service Status : Active</p>
        </li>
//-         <li>
//-             <h2>
//-                 <a href="#{host}#{root}/StandardGet?wsdl">StandardGet</a>
//-             </h2>
//-             <p>Service EPR : #{host}#{root}/StandardGet</p>
//-             <p>Service Description : Get standard</p>
//-             <p>Service Status : Active</p>
//-         </li>
    </ul>
</body>
</html>